@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1ED;
  color: #383B58;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  padding: 1rem 3.5rem;
  position: sticky;
  top: 0;
}

.headerButtons{
  color: #1DBEB4;
  background-color: #FFFFFF;
  border: 2px solid #1DBEB4;
  padding: 1rem 1.65rem;
  border-radius: 8px;
  font-family: 'Poppins';
  font-size: 0.9rem;
  font-weight: bold;
  width: 10rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.headerButtons:hover {
  color: #FFFFFF;
}

.headerButtons:after {
  content: "";
  background: #1DBEB4;
  position: absolute;
  z-index: -1;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}

.headerButtons:hover:after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

.buttons {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searcher {
  background-color: #545776;
  color: #FFFFFF;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  background-color: #1DBEB4;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.logosFooter {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logosFooter img {
  width: 2rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.closeLogin {
  align-self: flex-end;
  padding: 1rem 5rem 0 0;
  color: #1DBEB4;
  font-size: 1.75rem;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 1rem;
}

.closeLogin p:hover {
  transform: scale(1.15, 1.15);
}

.login h1 {
  color: #1DBEB4;
  font-size: 1.5rem;
}

.loginCampos {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.loginCampos span {
  color: #383B58;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.login input {
  width: 28rem;
  height: 2.75rem;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.25rem;
  color: #383B58;
  margin-bottom: 1rem;
  box-shadow: 7px 9px 10px -7px rgba(0,0,0,0.25);
  -webkit-box-shadow: 7px 9px 10px -7px rgba(0,0,0,0.25);
  -moz-box-shadow: 7px 9px 10px -7px rgba(0,0,0,0.25);
}

.login .ingresar {
  color: #FFFFFF;
  background-color: #1DBEB4;
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 8rem 0.5rem 3rem;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  width: 10rem;
  cursor: pointer;
}

.login .ingresar:hover {
  transform: scale(1.05, 1.05);
}

.registro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0 5.5rem;
  font-size: 1rem;
}

.registro .registroBoton:hover {
  transform: scale(1.05, 1.05);
}
